*{
    border: none;
}

body, html{
    margin: 0;
    padding: 0;
}

.view{
    height:100vh;
    overflow: hidden;
    position:absolute;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.start{
    height:100vh;
}