*{
    border: none;
}

body, html{
    margin: 0;
    padding: 0;
}

.view{
    height:100vh;
    overflow: hidden;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    z-index: 1;
    
}

.homepage{
    height:100vh;
    margin: 0 auto;
}

#start{
    position:absolute;
    width:129.51*2px;
    height:44*2px;
    top: 646px;
    left: 129px;
    z-index: 2;

}
